/*Below is Home css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  background-color: #00254d;
  color: white;
  padding: 20px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.nav span {
  margin: 0 15px;
  color: red;
  font-weight: bold;
}
.nav #login{
  color:darkgrey;
}

.logo #headline {
  margin: 0;
  font-size: 3.0em;
}

.logo #subline {
  font-size: 2.0em;
  font-style: italic;
  color: red;
}

.why-constitution-matters {
  text-align: center;
  padding: 50px 20px;
  background-color: #e6e6e6;
}

.why-constitution-matters h2 {
  color: red;
}

.why-constitution-matters h3 {
  margin-top: 10px;
}

.explore-btn {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
}

.parliament-section {
  text-align: center;
}

.parliament-image {
  width: 80%;
  max-width: 800px;
  margin-top: 30px;
  border-radius: 10px;
  }

.architects {
  padding: 50px 20px;
  text-align: center;
}

.carousel-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.carousel {
  display: flex;
  align-items: center;
}

.architects-cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
}

.architect-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  margin: 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.architect-card img {
  width: 100%;
  border-radius: 50%;
}

.arrow {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  /*Added padding below*/
  padding: 25px;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s;
  opacity: 0.7;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.8);  
}

.left-arrow {
  position: absolute;
  margin-left: -60px;
  left: 10px;
  /* width: 70px;
  height: 100px;
  border: 10px solid black; 
  top: 50%;
  transform: translateY(-50%);*/
   
}

.right-arrow {
  position: absolute;
  right: 10px;
  margin-right: -60px;  
  /*width: 70px;
  height: 100px;
  border: 10px solid black; 
  top: 50%;
  transform: translateY(-48%);*/
  
}

.carousel:hover .arrow {
  opacity: 0.5;
}

.about-us {
  padding: 50px 20px;
  background-color: #94b6db;
  color: white;
  text-align: center;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #ddd3d3;
  color: white;
}

