body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  display: flex;
  justify-content: flex-end;
  color: white;
  padding: 20px;
  text-align: center;
  gap: 15x;
  align-items: center;
}

.contact{
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  font-weight: bold;
  background-color: darkgrey;
  height: 40px;
  
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.nav span {
  margin: 0 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.logo {
  background-color: #00254d;    
}

.logo h1 {
  text-align: center;
  color: white;
  margin: 0%;
  font-size: 36px;
}
#login{
  background-color: darkgray;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  font-weight: bold;
  height: 40px;
  margin-right: 20px;
}
.mindmap{     
  margin-left: 45%;
  margin-top:-80px;
  margin-bottom: 15px;
  background-color: darkgray;
  padding: 10px;
  border-radius: 5px;
  width: 160px;
  font-weight: bold;
  height: 80px;
}

.logo span {
  font-size: 24px;
  font-style: italic;
}
  .container {
  margin-top: 0%;
  width: 1000px;
  max-height: 500px;
  background-color: #cdcdcd;
  display: flex;
  justify-content: center;
  position: inherit;
}

.why-constitution-matters {
  text-align: center;
  padding: 0px 20px;
  width: 50%;
  margin:0;
  
  margin-bottom: 100px;
}

.custom-hr {
  background-color: #da5c4f;
  height: 5px;
  border: none;
  width: 100%;
  margin: 5px auto;
  
 }

.why-constitution-matters h2 {
  color: #da5c4f;
}

.why-constitution-matters h3 {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #002d5b;
  font-size: 40px;
}

.explore-btn {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #da5c4f;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin-top: 0;
}

.parliament-section {
  text-align: center;
  
}

.parliament-image {
  width: 80%;
  max-width: 800px;
  margin-top: -70px;
  border-radius: 30px;
  z-index: 2;
}

.architects {
  padding: 50px 20px;
  text-align: center;
}

.carousel-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.carousel {
  display: flex;
  align-items: center;
}

.architects-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.architect-card {
  flex: 1;
  padding: 20px;
}

.architects h2 {
  margin-top: 20px;
  font-size: 48px;
}

.architect-card h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.architect-card p {
  font-size: 18px;
  color: #555;
}

.architect-card img {
  align-content: right;
  width: 230.41px;
  height: 254px;
  border-radius: 10px;
}

.arrow {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s;
  opacity: 0.7;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

.left-arrow {
  position: absolute;
  left: 10px;
}

.right-arrow {
  position: absolute;
  right: 10px;
}

.carousel:hover .arrow {
  opacity: 1;
}

.about-us h2 {
  margin-top: 10px;
  color: #00254d;
  font-size: 40px;
  font-weight: bold;
}

.about-us {
  padding: 30px 20px;
  background-color: #cdcdcd;
  color: black;
  text-align: left;
}

.flip-card-section h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: -15px;
}

.flip-card-section h3 {
  text-align: center;
  font-size: 28px;
}

.footer p{
  text-align: center;
  padding: 20px;
  background-color:darkblue;
  color: white;
}
  
